{% extends "reporte_master.html" %}

{% block titulo %}Reporte de Citas - EasyTime{% endblock %}

{% block contenido %}
    <h2>Agenda General de Servicios</h2>
    <table border="1" style="width: 100%; border-collapse: collapse;">
        <thead style="background-color: #333; color: white;">
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Servicio</th>
                <th>Fecha y Hora</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for a in agendas %}
            <tr>
                <td>{{ a.id }}</td>
                <td>{{ a.usuario.get_full_name|default:a.usuario.username }}</td>
                <td>{{ a.servicio.nombre }}</td>
                <td>{{ a.fecha_cita|date:"d/m/Y H:i" }}</td>
                <td>{{ a.estado }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}